extensions:
	solarium: Librette\Solarium\DI\SolariumExtension
	events: Kdyby\Events\DI\EventsExtension
solarium:
	debugger: true
	plugins:
		foo: LibretteTests\Solarium\PluginMock
		bar:
			class: LibretteTests\Solarium\PluginMock
			options: [key: value]
