extensions:
	solarium: Librette\Solarium\DI\SolariumExtension
	events: Kdyby\Events\DI\EventsExtension
solarium:
	debugger: true
	endpoints:
		foo:
			host: host1
		bar:
			host: host2
			default: true
